.header {
  display: flex;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  color: var(--text-white);
}

.header input {
  margin-left: 16px;
  cursor: pointer;
}
